body {
  font-size: 14px;
}

a { color: #00B7FF; }

nav ul a,
nav .brand-logo {
  color: #444;
  min-height: 0px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

#index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.slider {
  min-height: 660px;
}

h6 {
  max-height: 200px;
}

#video {
  background-image: url(../img/giphy.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}

#band_photo_parallax {
  min-height: 800px;
}
.showcase {
  background-image: url(../img/purple_background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contactbackground {
  background-image: url(../img/blackvelvet.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

iframe {
  margin-left: 40px;

}

.maillist {
  font-size: 20px;
}

.music_icons {
  margin: 20px;
}

.book {
  font-size: 40px;
}

.photo {
  min-height: 630px
}

.thumb {
  max-height: 150px;
  border-radius: 20px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
